@import url('./_theme/_dark/header__logo_theme_dark.css');
@import url('./_theme/_light/header__logo_theme_light.css');

.header__logo {
  text-decoration: none;
  font-family: 'Roboto Slab', 'Arial', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.header__logo:hover {
  opacity: 0.8;
}