.footer__links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 700px) {
  .footer__links {
    flex-direction: column;
    width: 500px;
  }
}

@media screen and (max-width: 650px) {
  .footer__links {
    flex-direction: column;
    width: 350px;
  }
}

@media screen and (max-width: 502px) {
  .footer__links {
    flex-direction: column;
    width: 300px;
  }
}

@media screen and (max-width: 406px) {
  .footer__links {
    flex-direction: column;
    width: 200px;
  }
}