@import url('./__block/history__block.css');
@import url('./__link/history__link.css');
@import url('./__title/history__title.css');

.history {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 72px 0 80px;
  background-color: #F5F6F7;
}