/* .preloader__image {
  width: 74px;
  margin: 0 auto;
} */

.preloader__image {
	width: 74px;
	height: 74px;
	border: 1px solid rgba(26, 27, 34, 1); 
	border-bottom-color: rgba(196, 196, 196, 1);
	border-radius: 50%;
	margin: auto;
	animation: spin .75s infinite linear;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}

@media screen and (max-width: 460px) {
  .preloader__image {
		width: 60px;
		height: 60px;
  }
}