.search__error-message {
  display: flex;
  position: absolute;
  padding: 10px 0 0 4px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #fff;
}

@media screen and (max-width: 540px) {
  .search__error-message {
    font-size: 12px;
    padding: 6px 0 0 4px;
  }
}