.header__link_active_theme_light {
  padding-bottom: 24px;
  border-bottom: 3px solid #1A1B22;
  color: #1A1B22;
}

@media screen and (max-width: 800px) {
  .header__link_active_theme_light {
    padding-bottom: 16px;
  }
}

@media screen and (max-width: 460px) {
  .header__link_active_theme_light {
    padding-bottom: 15px;
  }
}