.header__link_active_theme_dark {
  padding-bottom: 24px;
  border-bottom: 3px solid #fff;
  color: #fff;
}

@media screen and (max-width: 800px) {
  .header__link_active_theme_dark {
    padding-bottom: 16px;
  }
}

@media screen and (max-width: 460px) {
  .header__link_active_theme_dark {
    padding-bottom: 15px;
  }
}