@import url('./__text/client__text.css');
@import url('./__title/client__title.css');

.client {
  padding: 80px 104px 94px;
  max-width: 815px;
}

@media screen and (max-width: 800px) {
  .client {
    padding: 30px 40px;
  }
}

@media screen and (max-width: 540px) {
  .client {
    padding: 16px;
  }
}