@import url('./_1/analytics__counting_1.css');
@import url('./_2/analytics__counting_2.css');
@import url('./_3/analytics__counting_3.css');
@import url('./_4/analytics__counting_4.css');
@import url('./_5/analytics__counting_5.css');
@import url('./_6/analytics__counting_6.css');
@import url('./_7/analytics__counting_7.css');

.analytics__counting {
  height: 24px;
  background: #2F71E5;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.4px;
  color: #fff;
  padding-left: 6px;
}