.output__route {
  margin: 0;
  font-family: 'Roboto', 'Arial', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #8D8D91;
}

@media screen and (max-width: 460px) {
  .output__route {
    display: none;
  }
}