.search__form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

@media screen and (max-width: 800px) {
  .search__form {
    max-width: 448px;
  }
}

@media screen and (max-width: 460px) {
  .search__form {
    display: inline;
  }
}