.author__link {
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid #000;
  transition: all 0.2s ease-in-out;
}

.author__link:hover {
  color: #2F71E5;
  border-bottom: 1px solid #2F71E5;
}