@import url('./__block/carousel-card__block.css');
@import url('./__commit/carousel-card__commit.css');
@import url('./__date/carousel-card__date.css');
@import url('./__about/carousel-card__about.css');
@import url('./__mail/carousel-card__mail.css');
@import url('./__name/carousel-card__name.css');
@import url('./__photo/carousel-card__photo.css');

.carousel-card {
  display: flex;
  flex-direction: column;
  width: 352px;
  height: 240px;
  background-color: #fff;
  border-radius: 16px;
  padding: 24px;
  margin: 0 16px 48px 0;
}

@media screen and (max-width: 800px) {
  .carousel-card {
    width: 288px;
    height: 194px;
    margin: 0 8px 32px 0;
  }
}

@media screen and (max-width: 540px) {
  .carousel-card {
    width: 256px;
    height: 232px;
    margin: 0 8px 16px 0;
    padding: 16px;
  }
}
