.carousel-card__name {
  margin: 0;
  font-family: 'Roboto Slab', 'Times New Roman', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #1A1B22;
}

@media screen and (max-width: 800px) {
  .carousel-card__name {
    font-size: 20px;
  }
}