.history__link {
  text-decoration: none;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #1A1B22;
}

.history__link:after {
  content: url('../../../img/arrow.svg');
  padding-left: 10px;
}

@media screen and (max-width: 579px) {
  .history__link {
    display: none;
  }
}