.analytics__string {
  display: flex;
  align-items: center;
  padding-bottom: 56px;
}

.analytics__string:last-child {
  padding: 0;
}

@media screen and (max-width: 540px) {
  .analytics__string {
    padding-bottom: 24px;
  }
}