@import url('./__date/card__date.css');
@import url('./__description/card__description.css');
@import url('./__image/card__image.css');
@import url('./__label/card__label.css');
@import url('./__link/card__link.css');
@import url('./__text/card__text.css');
@import url('./__title/card__title.css');

.card {
  width: 400px;
  height: 576px;
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 16px;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}