@import url('../vendor/fonts.css');
@import url('../vendor/normalize.css');
@import url('../blocks/page/page.css');
@import url('../blocks/header/header.css');
@import url('../blocks/page/page.css');
@import url('../blocks/cover/cover.css');
@import url('../blocks/search/search.css');
@import url('../blocks/searching-results/searching-results.css');
@import url('../blocks/preloader/preloader.css');
@import url('../blocks/not-found/not-found.css');

/* карточки */ 
.results {
  display: flex;
  justify-content: center;
  flex-direction: column;
  display: none;
}

.results__block {
  display: flex;
  justify-content: space-between;
}

.results__title {
  margin: 0;
  font-family: 'Roboto Slab', 'Arial', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
}

.results__link {
  text-decoration: none;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #1A1B22;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 64px 0 0;
  padding: 0;
  justify-content: space-between;
}

.card {
  width: 400px;
  height: 576px;
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 16px;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.card__link {
  text-decoration: none;
  color: #1A1B22;
  position: relative;
}

.card__image {
  height: 272px;
  border-radius: 10px 10px 0 0;
}

.image-1 {
  background-image: url('../img/cards/image_08.png');
}

.image-2 {
  background-image: url('../img/cards/image_04.png');
}

.image-3 {
  background-image: url('../img/cards/image_07.png');
}

.image-4 {
  background-image: url('../img/cards/image_06.png');
}

.image-5 {
  background-image: url('../img/cards/image_01.png');
}

.image-6 {
  background-image: url('../img/cards/image_05.png');
}

.card__date {
  font-family: 'Source Sans Pro', 'Arial', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #B6BCBF;
  padding: 20px 24px 0;
}

.card__description {
  padding: 12px 24px 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__title {
  margin: 0;
  font-family: 'Roboto Slab', 'Arial', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #1A1B22;
}

.card__text {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1A1B22;
  margin: 0;
  padding: 16px 0 0;
  max-height: 110px;
}

.card__label {
  font-family: 'Roboto Slab', 'Arial', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #B6BCBF;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 216px;
}

.results__button {
  color: #1A1B22;
  background: #fff;
  border-radius: 80px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  padding: 18.14px 84px 21.86px;
  border: none;
  cursor: pointer;
  max-width: 288px;
  margin: 64px auto 0;
  transition: all 0.2s ease-in-out;
}

.results__button:hover {
  background: rgba(255, 255, 255, 0.9);
}

/* об авторе */
.author {
  padding: 80px 104px;
  display: flex;
}

.author__photo {
  width: 464px;
  border-radius: 100%;
}

.author__about {
  margin: 0 0 0 56px;
}

.author__title {
  margin: 0;
  font-family: 'Roboto Slab', 'Arial', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
}

.author__text {
  margin: 0;
  padding: 24px 0 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
  max-width: 600px;
}

/* футер */
.footer {
  display: flex;
  padding: 30px 104px 25px;
  justify-content: space-between;
}

.footer__copyright {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #B6BCBF;
  margin: 0;
}

.footer__links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.footer__links-list {
  padding: 0 40px 0 0;
}

.footer__links-list:last-child {
  padding: 0;
}

.footer__link {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #1A1B22;
  cursor: pointer;
  text-decoration: none;
  transition: opacity 0.2s ease-in-out;
}

.footer__link:hover {
  opacity: 0.9
}

.footer__social {
  display: flex;
  align-items: center;
}

.footer__social-image {
  width: 20px;
  height: 20px;
  transition: opacity 0.2s ease-in-out;
}

.footer__social-image:hover {
  opacity: 0.9;
}

.footer__social-image_github {
  background-image: url('../img/social/github.svg');
  margin-right: 27.89px;
}

.footer__social-image_facebook {
  background-image: url('../img/social/facebook.svg');
}