.card__image {
  width: 400px;
  border-radius: 10px 10px 0 0;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1023px) {
  .card__image {
    width: 224px;
    background-size: cover;
  }
}

@media screen and (max-width: 540px) {
  .card__image {
    width: 288px;
  }
}