.tech__title {
  font-family: 'Roboto Slab', 'Arial', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
  margin: 0;
  padding-right: 194px;
  max-width: 344px;
}