<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Сервис для анализа происходящих в мире событий">
  <meta name="author" content="Мария Котлярова">
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>">
  <link rel="icon" href="<%=require('./img/Favicon.svg')%>">
  <title>NewsAnalyzer</title>
</head>
<body class="body">

  <div class="page">
    <header class="header header_theme_light">
      <nav class="header__nav">
        <a href="./index.html" class="header__logo header__logo_theme_light">NewsAnalyzer</a>
        <ul class="header__links">
          <li class="header__links-list">
            <a href="./index.html" class="header__link header__link_theme_light">Главная</a>
          </li>
          <li class="header__links-list">
            <a href="./about.html" class="header__link header__link_theme_light">О проекте</a>
          </li>
        </ul>
      </nav>
    </header>
  

    <main class="content">

      <section class="output">
        <p class="output__route"><a href="./index.html" class="output__link">Главная</a> / Аналитика</p>
        <h3 class="output__title">Вы спросили: «<span class="output__title_key">Путешествия</span>»</h3>
        <p class="output__text">Новостей за неделю: <span class="output__numbers output__numbers_in-week">34 324</span></p>
        <p class="output__text">Упоминаний в заголовках: <span class="output__numbers output__numbers_in-title">235</span></p>

      </section>

      <section class="analytics">
        <h3 class="analytics__title">Аналитика по дням</h3>
        <div class="analytics__properties">
          <div class="analytics__table">
            <p class="analytics__table-title analytics__table-title_date">Дата </p>
            <p class="analytics__table-title analytics__table-title_month">(Февраль)</p>
          </div>
          <p class="analytics__table-title analytics__table-title_amount">Кол-во упоминаний</p>
        </div>
        <div class="analytics__numbers">
          <p class="analytics__number">0</p>
          <p class="analytics__number">25</p>
          <p class="analytics__number">50</p>
          <p class="analytics__number">75</p>
          <p class="analytics__number">100</p>
        </div>
        <div class="analytics__chart">

          <div class="analytics__string">
            <p class="analytics__day analytics__day_1">22, пн</p>
            <div class="analytics__counting-block">
              <div class="analytics__counting analytics__counting_1">15</div>
            </div>
          </div>

          <div class="analytics__string">
            <p class="analytics__day analytics__day_2">23, вт</p>
            <div class="analytics__counting-block">
              <div class="analytics__counting analytics__counting_2">18</div>
            </div>
          </div>

          <div class="analytics__string">
            <p class="analytics__day analytics__day_3">24, ср</p>
            <div class="analytics__counting-block">
              <div class="analytics__counting analytics__counting_3">11</div>
            </div>
          </div>

          <div class="analytics__string">
            <p class="analytics__day analytics__day_4">25, чт</p>
            <div class="analytics__counting-block">
              <div class="analytics__counting analytics__counting_4">39</div>
            </div>
          </div>

          <div class="analytics__string">
            <p class="analytics__day analytics__day_5">26, пт</p>
            <div class="analytics__counting-block">
              <div class="analytics__counting analytics__counting_5">45</div>
            </div>
          </div>

          <div class="analytics__string">
            <p class="analytics__day analytics__day_6">27, сб</p>
            <div class="analytics__counting-block">
              <div class="analytics__counting analytics__counting_6">73</div>
            </div>
          </div>

          <div class="analytics__string">
            <p class="analytics__day analytics__day_7">28, вс</p>
            <div class="analytics__counting-block">
              <div class="analytics__counting analytics__counting_7">34</div>
            </div>
          </div>

        </div>

        <div class="analytics__numbers">
          <p class="analytics__number">0</p>
          <p class="analytics__number">25</p>
          <p class="analytics__number">50</p>
          <p class="analytics__number">75</p>
          <p class="analytics__number">100</p>
        </div>

      </section>
    </main>

    <footer class="footer">
      <p class="footer__copyright">&copy; 2020 NewsAnalyzer</p>
      <nav class="footer__nav">
        <ul class="footer__links">
          <li class="footer__links-list">
            <a class="footer__link" href="index.html">Главная</a>
          </li>
          <li class="footer__links-list">
            <a class="footer__link" href="about.html" >О проекте</a>
          </li>
          <li class="footer__links-list">
            <a class="footer__link" href="https://praktikum.yandex.ru/" target="_blank">Яндекс.Практикум</a>
          </li>
        </ul>
      </nav>
      <div class="footer__social">
          <a href="https://github.com/itwassoclear" class="footer__social-link" target="_blank">
            <div class="footer__social-image footer__social-image_github"></div>
          </a>
          <a href="https://www.facebook.com/itwassoclear" class="footer__social-link" target="_blank">
            <div class="footer__social-image footer__social-image_facebook"></div>
          </a>
      </div>
    </footer>

  </div>

  <script src="<%= htmlWebpackPlugin.files.js %>"></script>
</body>
</html>